$pricing-plan-active-transform: scale(1)

.pricing-plan
  min-width: 250px
  border: solid 1px #e6e6e6 !important
  border-radius: 0px !important

$spanishViolet: #4B296B
$lightSpanishViolet: #4C2C72
$xanadu: #77867F
$asparagus: #87B37A
$lightGreen: #9CE37D

.selling-table-text-override
  color: $asparagus !important

@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"
@import '~bulma-pricingtable';
@import 'footer.sass'

$primary: $asparagus;
$primary-invert: white
$body-color: #333
$black: #2b2523
$white: white

// Margins
$marginS: 10px
$marginM: 20px
$marginL: 30px

.margin-top-large
  margin-top: 30px

.textarea:focus
  outline: none !important
  border: 2px solid $asparagus
  border-radius: 0px
  box-shadow: none

/* Frontpage */
.jumbotron
  display: flex
  justify-content: center
  height: 400px
  background-size: cover
  background-position: center
  display: flex
  justify-content: center

.jumbotron-container
  display: flex;
  justify-content: center
  flex-direction: column
  max-width: 90%
  color: $white
  text-align: center;
  h1
    margin-bottom: $marginM
  h1, h3
    color: $white
    background-color: $asparagus
    padding: 0.25em 20px

.checklist-container
  display: flex
  flex-direction: column;
  justify-content: center;
  align-items: center;

.action-buttonwrapper
  margin-top: $marginL

.frontpage-section-logo
  float: right
  margin: 40px
  width: 100%
  max-width: 300px

// NAVBAR
.navbar
  position: sticky;
  top: 0;
  a
    text-decoration: none;

.activeLink
  color: $asparagus !important
  box-shadow: inset 0px -5px 0px $asparagus

nav
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1)

.navbar-item:hover
  color: #4a4a4a !important

.navbar-item:before
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: $asparagus
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;

.navbar-item:hover:before
  visibility: visible;
  transform: scaleX(1);

// END OF NAVBAR

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 0em -50vw
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $white
$menu-item-active-background-color:	$white
$menu-list-border-left: 1px solid $white
$menu-label-color: $white-ter

// blog roll
.is-featured
  color: white;

.is-featured .button
  background-color: $spanishViolet
  color: white;

.is-featured .button:hover
  background-color: $lightSpanishViolet

.blog-list-item.is-featured
  background-color: $asparagus;
.blog-list-item .featured-thumbnail
    position: relative
    margin-left: -25px
    width: calc(100% - -50px)
    top: -25px
    max-height: 300px
    overflow: hidden
    border-bottom: solid 15px $spanishViolet

.content ul
  margin-left: 0px
  margin-top: $marginL

// Weird fix
.content p:not(:last-child), .content ul:not(:last-child)
    margin-bottom: 0px;

#toimintatapa h2
  text-align: center;

.contact-logo
  max-width: 300px
  width: 100%

.toimintatapa-stepper
  width: 500px
  margin: auto
  margin-bottom: $marginL;
  p
    border-top: 2px dashed
    border-color: $asparagus !important
    margin: 0
    padding: 30px
    counter-increment: section
    position: relative
  p:nth-child(even):before
    content: counter(section)
    line-height: 1.1;
    text-align: center;
    right: 100%
    margin-right: -20px
    position: absolute
    border-radius: 50%
    padding: 10px
    height: 40px
    width: 40px
    background-color: $asparagus;
    color: white
    font-size: 110%
  p:nth-child(odd):before
    content: counter(section)
    line-height: 1.1;
    text-align: center;
    left: 100%
    margin-left: -20px
    position: absolute
    border-radius: 50%
    padding: 10px
    height: 40px
    width: 40px
    background-color: $asparagus
    text-align: center
    color: white
    font-size: 110%
  p:nth-child(even)
    border-left: 2px dashed
    border-top-left-radius: 30px
    border-bottom-left-radius: 30px
    margin-right: 30px
    padding-right: 0
  p:nth-child(odd)
    border-right: 2px dashed
    border-top-right-radius: 30px
    border-bottom-right-radius: 30px
    margin-left: 30px
    padding-left: 0
  p:first-child
    border-top: 0
    border-top-right-radius: 0
    border-top-left-radius: 0
  p:last-child
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0

.video-container
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

.youtube-video
  width: 49%
  min-width: 350px
  height: 300px
  margin-bottom: $marginM

.soittopyynto
  align-items: baseline
  display: flex
  flex-wrap: wrap
  justify-content: center
  .callmargin
    margin: 0px 20px

#puhelinnumero
  background-color: white

.contact-person-image
  border-radius: 50%
  width: 200px
  display: block
  margin-bottom: 20px

.contact-person
    display: flex
    flex-direction: column
    align-items: center

.yhteystiedot
  p
    margin: 0

// responsiveness
+tablet-only
  .frontpage-section-logo
      width: 300px
  .toimintatapa-stepper
    width: 400px
  .blog-list-item .featured-thumbnail
    margin-left: -25px
    width: calc(100% - -47px)

+mobile
  .frontpage-section-logo
    width: 180px
  .youtube-video
    width: 100%
    min-width: 280px
  .toimintatapa-stepper
    width: 235px
  .blog-list-item .featured-thumbnail
    margin-left: -24px
    width: calc(100% - -47px)
  .soittopyynto
    flex-direction: column
    .callmargin
      margin: 0px
      margin-bottom: 15px